.app-container {
  padding: 40px;
  background-image: linear-gradient(
    to right top,
    #d7dde5,
    #bfceea,
    #afbcee,
    #a7a9ee,
    #a893ea
  );
  height: 100vh;
}
.dog-icon {
  width: 50px;
  margin: 0px 20px 10px 5px;
}
.title-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.title-text {
  margin-top: 15px;
}
